.HOME {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  text-align: center;
}
.cover-background {
  width: inherit;
  height: auto;
  object-fit: contain;
}
.content-blocks {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.column {
  float:left;
  width: 50%;
}

.row {
    width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}
.Rectangle {
  width: auto;
  height: auto;
  background-color: #faf9fe;
}

.Global-Perspective-f {
  width: 494px;
  height: 130px;
  font-family: PlayfairDisplay;
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #ffffff;
}
.Ma-Krasteva {
  width: 194px;
  height: 43px;
  font-family: PlayfairDisplay;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.About-me {
  width: 89px;
  height: 27px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.Projects {
  width: 76px;
  height: 27px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.Contact {
  width: 73px;
  height: 27px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.img-mia {
  width: inherit;
  height: auto;
  object-fit: contain;
  text-align: left;
}
.bg-photo-mia {
  width: 555px;
  height: 517px;
}
.Path-2 {
  width: 170px;
  height: 1px;
  border: solid 2px #00b9d1;
}
.About-me {
  width: 118px;
  height: 34px;
  font-family: OpenSans;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a434d;
}
.Im-Ma-lorem-ipsum {
  width: auto;
  height: auto;
  font-family: PlayfairDisplay;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a434d;
}
.It-is-a-long-establi {
  width: auto;
  height: auto;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #7e888b;
}
.Path-2 {
  width: 170px;
  height: 1px;
  border: solid 2px #00b9d1;
}
.Portfolio {
  width: 105px;
  height: 34px;
  font-family: OpenSans;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a434d;
}
.Lorem-ipsum-sit-amet {
  width: auto;
  height: auto;
  font-family: PlayfairDisplay;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a434d;
}
.Bitmap {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.Path-2 {
  width: 170px;
  height: 1px;
  border: solid 2px #00b9d1;
}

.Contact-info {
    position: relative;
    width: inherit;
}

/* Bottom right text */
.Contact-text {
    position: absolute;
    top: 20px;
    left: 20px;
}

.Contact {
  width: 94px;
  height: 34px;
  font-family: OpenSans;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a434d;
}
.Group-275 {
  width: inherit;
  height: inherit;
  object-fit: contain;

}
.Get-in-touch-Lorem {
  width: auto;
  height: auto;
  font-family: PlayfairDisplay;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a434d;
}
.Email-exampledomai {
  width: inherit;
  height: auto;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.22;
  letter-spacing: normal;
  color: #7e888b;
}
.contact-links {
  width: auto;
  height: auto;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #006ba3;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}
